.boton{
    background-color: rgb(60, 2, 71);
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 10cm;    
}
.boton2{
    background-color: rgb(60, 2, 71);
    border:none;
    padding: 8px 14px;
    font-size: 16px;
    cursor:pointer;
    color: rgb(255, 255, 255);
    border-radius: 10cm; 
}
.texto{
    border-radius: 10cm;
    border-color: blueviolet;
}
.aliniamiento{
    display: flex;
}